name: Server

on:
  push:
    branches:
      - main
    paths:
      - server/**
      - .github/workflows/deploy-server.yml

jobs:
  deploy:
    name: 'Deploy Server'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Node and NPM
        uses: actions/setup-node@v2
        with:
          node-version: 16.4.0
          cache: 'yarn'
      
      - name: Install Dependencies
        run: yarn install


      - name: Build and Deploy app
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          cd server
          yarn build
          heroku container:login
          heroku container:push -a ${{ secrets.HEROKU_APP_NAME }} web
          heroku container:release -a ${{ secrets.HEROKU_APP_NAME }} web